.resizable-panel > tbody > tr > td {
    position: relative;
}

.resizable-panel td > .resizer {
    position: absolute;
    top: 0;
    width: 0.52rem;
    cursor: col-resize;
    user-select: none;
    height: 100%;
    padding-right: 1px;
}

.resizable-panel td > .resizer.left {
    right: 0;
}
.resizable-panel td > .resizer.right {
    left: 0;
}

.resizable-panel td > .resizer:hover {
    background: rgba(164,164,164, 0.4)
}