.slide-left-enter-active {
    transition: all 0.25s cubic-bezier(.17, .67, .48, 1.16);
}

.slide-left-exit-active {
    transition: all 0.25s cubic-bezier(.17, .67, .48, 1.16);
}

.slide-left-enter,
.slide-left-exit-to {
    transform: translateX(40px);
    opacity: 0;
}

.slide-down-enter-active {
    transition: all 0.25s cubic-bezier(.17, .67, .48, 1.16);
}

.slide-down-exit-active {
    transition: all 0.25s cubic-bezier(.17, .67, .48, 1.16);
}

.slide-down-enter,
.slide-down-exit-to {
    transform: translateY(-50px);
    opacity: 0;
}

.appear-enter-active {
    transition: all 0.25s cubic-bezier(.17, .67, .48, 1.16);
}

.appear-exit-active {
    transition: all 0.25s cubic-bezier(.17, .67, .48, 1.16);
}

.appear-enter,
.appear-exit-to {
    transform: scale(0);
    opacity: 0;
}

.fade-enter-active {
    transition: all 0.25s cubic-bezier(.17, .67, .48, 1.16);
}

.fade-exit-active {
    transition: all 0.25s cubic-bezier(.17, .67, .48, 1.16);
}

.fade-enter,
.fade-exit-to {
    opacity: 0;
}


.rotate-enter-active {
    transition: all 0.25s cubic-bezier(.17, .67, .48, 1.16);
}

.rotate-exit-active {
    transition: all 0.25s cubic-bezier(.17, .67, .48, 1.16);
}

.rotate-enter,
.rotate-exit-to {
    transform: rotate(-135deg);
    opacity: 0;
}
